$primaryColor: #1992d4;
$primaryLightColor: #75bee5 !default;
$primaryDarkColor: #1783bf !default;
$primaryDarkerColor: #1475aa !default;
$primaryTextColor: #ffffff;

$highlightBg: #e8f4fb;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
