$primaryColor: #798bc8 !default;
$primaryLightColor: #c9d1e9 !default;
$primaryDarkColor: #6d7db4 !default;
$primaryDarkerColor: #616fa0 !default;
$primaryTextColor: rgba(255, 255, 255, 0.87);

$highlightBg: rgba($primaryColor, 0.15);
$highlightTextColor: $primaryLightColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
