$primaryColor: #f9c404;
$primaryLightColor: #fde79b !default;
$primaryDarkColor: #e0b004 !default;
$primaryDarkerColor: #c79d03 !default;
$primaryTextColor: #191400;

$highlightBg: #fef9e6;
$highlightTextColor: #957602;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;
@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
