$primaryColor: #c74b95;
$primaryLightColor: #e9b7d5 !default;
$primaryDarkColor: #b34486 !default;
$primaryDarkerColor: #9f3c77 !default;
$primaryTextColor: #ffffff;

$highlightBg: #f9edf4;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;
@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
