$primaryColor: #de911d;
$primaryLightColor: #f2d3a5 !default;
$primaryDarkColor: #c8831a !default;
$primaryDarkerColor: #b27417 !default;
$primaryTextColor: #ffffff;

$highlightBg: #fcf4e8;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;
@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
