<div class="surface-card shadow-2 border-round p-4">
  <div class="flex align-items-center justify-content-between mb-3">
    <div class="text-900 font-medium text-xl">All Notifications</div>
    <div>
      <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-plain p-button-rounded"
              (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
  <ul class="list-none p-0 m-0">
    @for (notification of notificationsStore.notifications(); track $index; ) {
      <li
        class="py-3 border-bottom-1 surface-border flex md:align-items-start md:justify-content-between flex-column md:flex-row">
        <div class="flex align-items-start mr-0 lg:mr-5">
          <img ngSrc="assets/favicon.ico" height="50" width="50" class="mr-3 w-3rem h-3rem" height="200" width="200" />
          <div>
            <span class="text-900 font-medium block mb-2">{{ notification.title }}</span>
            <div class="text-700 mb-2">{{ notification.extendedMessage }}</div>
            <a [routerLink]="createLinkFromNotification(notification)" class="text-primary cursor-pointer">
              <i class="pi pi-home text-sm mr-2"></i>
              <span>View Invitation</span>
            </a>
          </div>
        </div>
        <span
          class="block text-500 font-medium ml-7 md:ml-5 mt-2 md:mt-0">{{ formatDateForCard(notification.createdAt) }}</span>
      </li>
    } @empty {
      <p>No notifications to display</p>
    }
  </ul>
</div>
