---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - <a href="https://linkedin.com/in/jonathan-lee-devel">Jonathan Lee</a>
      </p>
    </div>
  </section>
</footer>
