$primaryColor: #84bd20;
$primaryLightColor: #cee5a6 !default;
$primaryDarkColor: #77aa1d !default;
$primaryDarkerColor: #6a971a !default;
$primaryTextColor: #ffffff;

$highlightBg: #f3f8e9;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;
@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
