$primaryColor: #e8ab4f;
$primaryLightColor: #f6ddb9 !default;
$primaryDarkColor: #d19a47 !default;
$primaryDarkerColor: #ba893f !default;
$primaryTextColor: #162a41;

$highlightBg: rgba($primaryColor, 0.15);
$highlightTextColor: $primaryLightColor;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;
@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
